/* To use the light Solarized highlighting theme uncomment the following line */
/* If you want to tweak the Solarized colors you can do that here */
/* Non highlighted code colors */
h5 {
  color: #252526; }

p {
  color: black; }

body {
  color: black; }

a {
  color: #252526; }

a:hover {
  color: #4f507c; }

a:focus {
  color: #8250ff; }

a.subitem:hover {
  padding-bottom: 2px;
  border-bottom: 1px #849F80 solid; }

a.subitem:focus {
  padding-bottom: 2px;
  border-bottom: 2px #849F80 solid; }

body {
  /*  background-color: $base3;*/ }

#body-wrapper {
  background-color: white; }

#director-page {
  background-color: black;
  background-image: url("/"); }

#post-slider {
  background-color: black;
  background-image: url("/"); }

#recent-projects {
  background-color: black;
  background-image: url("/"); }

#demo-block {
  background-color: black;
  background-image: url("/"); }

#topmenu .tiled-menu {
  float: right; }

.author_info .soc-icons {
  display: none; }

.widget.category-widget.titlepanel1 {
  background-color: #57bae8;
  border-top: 10px solid #57bae8;
  border-left: 10px solid #57bae8;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.widget.category-widget.titlepanel2 {
  background-color: #6cbe42;
  border-top: 10px solid #6cbe42;
  border-left: 10px solid #6cbe42;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.widget.category-widget.titlepanel3 {
  background-color: #84969f;
  border-top: 10px solid #84969f;
  border-left: 10px solid #84969f;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.widget.category-widget.titlepanel4 {
  background-color: #ffaa31;
  border-top: 10px solid #ffaa31;
  border-left: 10px solid #ffaa31;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.widget.category-widget.titlepanel5 {
  background-color: #9c849f;
  border-top: 10px solid #9c849f;
  border-left: 10px solid #9c849f;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.widget.category-widget.titlepanel6 {
  background-color: #4085b7;
  border-top: 10px solid #4085b7;
  border-left: 10px solid #4085b7;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.widget.contact-form-widget.itsolutions {
  background-color: #4085b7;
  border: 10px solid #4085b7;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-bottom: 30px;
  height: 101px; }

.link_style1 {
  background-color: #6cbe42;
  background-size: cover;
  background-image: none; }

.link_style2 {
  background-color: #ffaa31;
  background-size: cover;
  background-image: none; }

.link_style3 {
  background-color: #4085b7;
  background-size: cover;
  background-image: none; }

.link_style4 {
  background-color: #84969f;
  background-size: cover;
  background-image: none; }

.link_style5 {
  background-color: #a18690;
  background-size: cover;
  background-image: none; }

/* other styles */
.bottom-20 {
  margin-bottom: 20px; }

.bottom-5 {
  margin-bottom: 5px; }

.bottom-10 {
  margin-bottom: 10px; }

.bottom-40 {
  margin-bottom: 40px; }

.bottom-70 {
  margin-bottom: 70px; }

.top-20 {
  margin-top: 20px; }

.top-10 {
  margin-top: 10px; }

.top-45 {
  margin-top: 45px; }

.top-25 {
  margin-top: 25px; }

.top-35 {
  margin-top: 35px; }

.top-50 {
  margin-top: 50px; }

.top-65 {
  margin-top: 65px; }

.top-0 {
  margin-top: 0px; }

.left-12 {
  margin-left: 12px; }

.left-10 {
  margin-left: 10px; }

.margin-10 {
  margin: 10px; }

.h2-center {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 15px; }

.p-justify-bottom-5 {
  margin-bottom: 5px;
  text-align: justify; }

.p-justify-bottom-0 {
  margin-bottom: 0px;
  text-align: justify; }

.h3-color-margin {
  color: #ffffff;
  margin: 0;
  margin-bottom: 15px; }

.h5-color-margin {
  color: #ffffff;
  margin: 0;
  margin-left: 20px; }

.a-color-transform {
  color: #000000;
  text-transform: none; }

.background-color1 {
  background-color: #ffaa31; }

.background-color2 {
  background-color: #57bae8; }

.background-color3 {
  background-color: #84969f; }

.background-color4 {
  background-color: #6cbe42; }

.background-color5 {
  background-color: #84969f; }

.p-justify-left-12 {
  text-align: justify;
  margin-left: 12px; }

.color-white {
  color: #ffffff; }

aside .widget {
  border-bottom: none; }

.text-align-center {
  text-align: center; }

html, body {
  height: 100%; }

.mwrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em; }

.mfooter, .push {
  height: 4em; }
